@font-face{
    font-family: "Aldrich";
    src: url('../fonts/Aldrich-Regular.ttf') format('truetype');
}
@font-face{
    font-family: "Google-Sans";
    src: url('../fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
}