body{
    font-family: "Segoe-UI", sans-serif;
    font-variation-settings:"GRAD" 0;
    background-color: #ffffff;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
    color: #1f1f1f;
}
