@font-face{
    font-family: "Aldrich";
    src: url('../../res/fonts/Aldrich-Regular.ttf') format('truetype');
}
@font-face{
    font-family: "Google-Sans";
    src: url('../../res/fonts/GoogleSans-VariableFont_GRAD,opsz,wght.ttf') format('truetype');
}

body{
    text-align: center;
    background-color: #f8f9fa;
}

.Paragraphs{
    font-family: "Google-Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:"GRAD" 0;
}
