#docsStart{
    font-weight: bolder;
    font-size: large;
}
#docsTable{
    width: 1800px;
    table-layout: fixed;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

td{
    word-wrap: break-word;
}
#FirstLine td {
    background-color: #c9c9c9 !important;
}
#FirstLine{
    height: 40px;
}
.Functions{
    width: 140px;
    height: 30px;
    background-color: #e0e0e0;
}
.HasInput, .HasOutput{
    width: 125px;
    height: 30px;
    background-color: #e0e0e0;
}
.InputFormat, .OutputFormat, .InputType, .OutputType{
    width: 170px;
    height: 30px;
    background-color: #e0e0e0;
}
.FunctionCalls{
    width: 156px;
    height: 30px;
    background-color: #e0e0e0;
}
.Info{
    width: 605px;
    height: 30px;
    background-color: #e0e0e0;
}