# Ignore IntelliJ IDEA project-specific folders and files
.idea/
*.iws
*.iml
*.ipr
out/
build/

# But if you want to keep shared run configurations, uncomment the next line:
# !.idea/runConfigurations/